* text=auto !eol
action/actionner.php -text
action/teleporter.php -text
exec/admin_plugin.php -text
formulaires/admin_plugin.html -text
formulaires/admin_plugin.php -text
formulaires/charger_plugin_archive.html -text
formulaires/charger_plugin_archive.php -text
formulaires/configurer_svp.html -text
formulaires/inc-admin_plugin.html -text
formulaires/inc-admin_plugin_fonctions.php -text
formulaires/inc-confirmer_actions.html -text
inc/pcltar.php -text
inc/svp_actionner.php -text
inc/svp_depoter_local.php -text
lang/paquet-svp.xml -text
lang/paquet-svp_ar.php -text
lang/paquet-svp_de.php -text
lang/paquet-svp_en.php -text
lang/paquet-svp_es.php -text
lang/paquet-svp_fa.php -text
lang/paquet-svp_fr_fem.php -text
lang/paquet-svp_fr_tu.php -text
lang/paquet-svp_it.php -text
lang/paquet-svp_nl.php -text
lang/paquet-svp_pt.php -text
lang/paquet-svp_pt_br.php -text
lang/paquet-svp_ru.php -text
lang/paquet-svp_sk.php -text
lang/svp.xml -text
lang/svp_ar.php -text
lang/svp_de.php -text
lang/svp_en.php -text
lang/svp_es.php -text
lang/svp_fa.php -text
lang/svp_fr_fem.php -text
lang/svp_fr_tu.php -text
lang/svp_it.php -text
lang/svp_nl.php -text
lang/svp_pt_br.php -text
lang/svp_ru.php -text
lang/svp_sk.php -text
lib/pcltar/pclerror.lib.php -text
lib/pcltar/pcltrace.lib.php -text
lib/pcltar/readme.txt -text
modeles/svp_presenter_actions.html -text
prive/squelettes/contenu/configurer_svp.html -text
prive/squelettes/contenu/svp_admin_plugin.html -text
prive/squelettes/inclure/plugin_detail.html -text
prive/squelettes/navigation/svp_admin_plugin.html -text
prive/squelettes/navigation/svp_admin_plugin_fonctions.php -text
prive/themes/spip/images/depot-16.png -text
prive/themes/spip/images/depot-24.png -text
prive/themes/spip/images/depot-32.png -text
prive/themes/spip/images/depot-add-16.png -text
prive/themes/spip/images/depot-add-24.png -text
prive/themes/spip/images/depot-add-32.png -text
prive/themes/spip/images/fond-installe.png -text
prive/themes/spip/images/fond-obsolete.png -text
prive/themes/spip/images/fond-verrou.png -text
prive/themes/spip/images/paquet-24.png -text
prive/themes/spip/images/plugin-add-16.png -text
prive/themes/spip/images/plugin-add-24.png -text
prive/themes/spip/images/plugin-add-32.png -text
prive/themes/spip/images/svp-16.png -text
prive/themes/spip/images/svp-24.png -text
prive/themes/spip/images/svp-32.png -text
prive/themes/spip/images/svp-64.png -text
prive/themes/spip/images/update-16.png -text
prive/themes/spip/images/update-32.png -text
/svp-16.png -text
/svp-24.png -text
/svp-32.png -text
/svp-64.png -text
/svp_ieconfig.php -text
teleporter/git.php -text
teleporter/http.php -text
teleporter/http_deballe_tgz.php -text
teleporter/http_deballe_zip.php -text
teleporter/svn.php -text
